<%= simple_form_for(@editor_pick) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image %>
    <%= f.input :onTop %>
    <%= f.input :description %>
  </div>
  <div>
   
    <%= f.association :listings, as: :check_boxes,:collection_wrapper_tag => :ul, :item_wrapper_tag => :li, :placeholder => 'select item'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
