
<h1>Sales History</h1>
<div class="center">
<table class="table  table-striped table-bordered">
  <tr>
    <th class="center">Người mua</th>
    <th class="center">Thông tin</th>
    
  </tr>

  <% @orders.each do |order| %>
  <tr><td><%= order.buyer.name %></td>
  <td>
    <table class="table  table-striped table-bordered">
      <% order.shopping_cart.shopping_cart_items.each do |cart| %>
        <tr>
          <td><%= image_tag cart.item.image.url(:thumb) %></td>
          <td><%= cart.item.name %></td>
          <td><%= number_to_currency(cart.item.price) %></td>
          <td><%= cart.quantity %></td>
        </tr>
        <% end -%>
      </table>
    </td>
    </tr>
  <% end -%>

</table>

<br>
<% if (user_signed_in?) %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link"  %>
<% end %>
</div>