<p id="notice"><%= notice %></p>

<h1>Listing Keywords</h1>

<table>
  <thead>
    <tr>
      <th>P name</th>
      <th>P image</th>
      <th>P price</th>
      <th>P des</th>
      <th>Item</th>
      <th>Item type</th>
      <th>Keyword type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.p_name %></td>
        <td><%= keyword.p_image %></td>
        <td><%= keyword.p_price %></td>
        <td><%= keyword.p_des %></td>
        <td><%= keyword.item %></td>
        <td><%= keyword.item_type %></td>
        <td><%= keyword.keyword_type %></td>
        <td><%= link_to 'Show', keyword %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword', new_keyword_path %>
